.red-button {
  border: 1px solid red;
}

.green-button {
  border: 1px solid green;
}

.blue-button {
  border: 1px solid blue;
}

.brown-button {
  border: 1px solid brown;
}

button {
  width: 305px;
}

* {
  margin: 2px;
  font-size: 15px;
}
